// Cores principais
$primary-color: #238724;
$primary-dark: #154814;
$light-bg: #edf8ef;
$background-color: #fdf6ff;
$text-color: #333;
$border-color: #ccc;

// Fontes
$font-family: 'Bai Jamjuree', sans-serif;
