@import 'variaveis.css';

.bg-card {
    background-color: var(--branco-verde);
}

.carrossel-cards{
    position: absolute;
    left: 7%;
    top: 15%;
    height: 80%;
    width: 90%;
}

.card-exibicao {
    height: 93%;
    width: 340px;
}

.btn-card{
    border: none;
    border-radius: 30px;
    padding: 13px;
    margin: 5px;
    height: 80px;
    text-align: center;

    height: 50px;
    transition-duration: 250ms;
}

.titulo-card{
    height: 50px;
    vertical-align: middle;
}

.btn-card:hover{
    transform: scale(1.05);
}

.bg-perigo-outline{    
    border: 1px #dc3545 solid;
    color: #dc3545;
}

.bg-perigo-outline:hover{
    background-color: #dc3545;
    color: white;
}

.bg-alterar-outline {
    border: 1px #0d6efd solid;
    color: #0d6efd;
}

.bg-alterar-outline:hover {
    background-color: #0d6efd;
    color: white;
}

.bg-visualizar-outline {
    border: 1px var(--cor-primaria) solid;
    color: var(--cor-primaria);
}

.bg-visualizar-outline:hover {
    background-color: var(--cor-primaria);
    color: white;
}

.container-informacoes-ambiente{
    height: 40%;
}

.container-tipo-card {
    position: absolute;
    bottom: 0%;
    right: 16px;
    height: 50px;
    width: 90%;
    
    .tipo-card {
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 60px;
    }
}

.placeholder-sem-itens {
    max-height: 70%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.medidor-sustentabilidade {
    margin-bottom: 15px;
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 10px;
    width: 100%;

    .progresso {
        background: linear-gradient(to right, #3EA73F, #0B770C);
        height: 100%;
        border-radius: 30px 0px 0px 30px;
        padding-left: 100px;

        .medidor {
            position: relative;
            width: 35px;
            border-radius: 60px;
            background-color: var(--cor-primaria);

            span {
                color: white;
                padding: 5px;
            }
        }

    }
}
