:root {
  --cor-primaria: #238724;
  --verde-escuro: #154814;
  --fundo-claro: #edf8ef;
  --fonte-principal: "Bai Jamjuree", sans-serif;
  --cor-borda-input: #ccc;
  --cor-hover-upload: #f0f9f1;
  --cor-texto-claro: #666;
  --cor-titulo: #333;
}
